# Build Output / Binaries
/build
*build-*
*.o
*.obj
*.slo
*.lo
*.a
*.lib
*.la
*.lai
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.d
*.gch
*.pch
*.ilk
*.pdb
*.dwo

# Qt & QMake
Makefile*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.qm
*.prl
object_script.*
*_plugin_import.cpp
*_qmlcache.qrc
.qmake.stash
.qmake.cache
target_wrapper.*

# Qt Creator
CMakeLists.txt.user*
*.pro.user*
*.qbs.user*
*.qmlproject.user*
*creator.user*
*.autosave

# appimage stuff
/appimage/build/
/appimage/AppDir/
/appimage/appimage-build/
/appimage/squashfs-root/

# trash
.qt/
.idea/
.vscode/
.qtcreator/

.DS_Store
Thumbs.db
